# Copy this file to a .env and fill in ur values for now
# cp .env.example .env

MONGODB_URI=mongodb://127.0.0.1:27017/archereats
SESSION_SECRET=put-any-random-string-here-for-session-monitoring-8====D
PORT=3000
